/* Perfunctory CSS for the js1kpiano brochureware pages
   This file copyright Menboku Ltd 2010
   Licenced under GPL v2
   http://www.menboku.co.uk
   http://js1kpiano.appspot.com
*/

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: small;
}

h1, h2, h3 {
    font-weight: 900;
    padding-bottom: 0px;
    padding-top: 20px;
    color: #840;
}

h1 {
    text-shadow: 1px 1px 0px #888;
}

h1 > a {
    text-decoration: None;
    color: #840;
}

table, td, th {
    border: 1px solid;
    border-collapse: collapse;
    font-size: small;
    border-color: #000;
}

#play_the_piano {
    text-align: center;
}

a#play_the_piano {
    border-radius: 10px;
    -moz-border-radius: 10px;
    padding: 10px;
    background-color: #060;
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
    color: #fff;
}

a#play_the_piano:hover {
    background-color: #4c4;
}

.it_works {
    background-color: #8f8;
}

.its_broken {
    background-color: #c00;
    color: #fff;
}

.its_broken a {
    color: #ff0;
}

.hey_this_is_important {
    color: #f00;
    font-weight: 900;
    font-family: Helvetica, Arial, sans-serif;
}

.by_the_way {
    font-style: italic;
}

#get_a_different_browser {
    color: #fff;
    background-color: #c00;
    border-radius: 10px;
    -moz-border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
}

#get_a_different_browser a {
    color: #ff0;
}


.additional_info {
    text-align: right;
    color: #ff0;
    font-family: Helvetica, Aria, sans-serif;
    font-size: x-small;
    font-weight: 900;
}

.technobabble {
    font-family: Courier, monospace;
    font-size: x-small;
    font-weight: 900;
}