<html>
    <head>
	<title>JS1k Piano</title>
	<link rel="stylesheet" href="/static/css/common.css" type="text/css" />
    </head>
    <body>
	<h1>JS1k Piano</h1>
	<nav>
	    <a href="#how_to_use_this">How to use this</a>
	    |
	    <a href="/more_info#compatibility">Browser compatibility</a>
	    |
	    <a href="/more_info#tech">Technical details</a>
	    | 
	    <a href="/more_info#links">Links to external HTML5 audio pages</a>
	    
		
	</nav>

	<p>
	    This is an entry for the <a href="http://js1k.com/home">JS1k</a>
	    competition, to produce something interesting in 1k (or less)
	    of JavaScript.  This entry is a simple music generator,
	    controlled by the keyboard in a manner similar to a piano - although
	    the <a href="http://en.wikipedia.org/wiki/Stylophone">stylophone</a>
	    might be a better comparison, both in terms of sound fidelity and 
	    usability :-).
	</p>

	<p>
	    <span class="hey_this_is_important">Important:</span> This application uses
	    web technologies
	    which are not - as of September 2010 - supported by all browsers.
	    Please see the <a href="#compatibility">compatibility
		table</a> to see if your browser is one which
	    provides the necessary functionality.
	</p>

	{% if not isCompatible %}
	<div id="get_a_different_browser">
	    <p>
		Sorry, but it looks like your browser doesn't have the
		necessary features to run this.  We would advise trying
		<a href="http://www.opera.com">Opera</a>,
		<a href="http://www.mozilla.com/firefox">Firefox</a> or 
		<a href="http://www.apple.com/safari">Safari</a> instead.
	    </p>
	    <p class="additional_info">
		Your browser reports itself as
		<span class="technobabble">{{ userAgent|escape}} </span>
	    </p>
	</div>
	{% else %}
	<!-- {{ userAgent|escape }} -->
	{% endif %}

	<div id="how_to_use_this">
	    <h2>How to use this</h2>
	    <p>
		Please be patient when you first start the application,
		as it has to create the sound waves for all the musical
		notes.  This can take several seconds, depending on the
		speed of your browser, your computer, etc.
		<span class="hey_this_is_important">The application will
		   indicate when initialization is complete by displaying
		    a "Ready" message.</span>
	    </p>
	    <p>
		Keys Q,W,E,R,T,Y,U and I play the white notes (starting from
		C), keys 2,3,5,6 and 7 play the black notes.
		<span class="by_the_way">
		    (Apologies to international users with keyboard layouts such
		    as AZERTY or QWERTZ.)
		</span>
	    </p>
	</div>
	<p id="play_the_piano">
	    <a id="play_the_piano" href="/piano.html">Play the piano</a>
	</p>
    </body>
</html>
