<html>
    <head>
	<title>JS1k Piano: More Info</title>
	<link rel="stylesheet" href="/static/css/common.css" type="text/css" />
    </head>
    <body>
	<h1><a href="/">JS1k Piano</a></h1>
	<nav>
	    <a href="/">Home page</a>
	    |
	    <a href="/#how_to_use_this">How to use this</a>
	    |
	    <a href="#compatibility">Browser compatibility</a>
	    |
	    <a href="#tech">Technical details</a>
	    | 
	    <a href="#links">Links to external HTML5 audio pages</a>
	    |
	    <a href="#contact">Contact</a>
		
	</nav>
	<h1>More Information</h1>

	<div id="compatibility">
	    <h2>Browser compatibility</h2>
	    <p>
		This application requires that your browser supports (parts of) the
		<a href="http://www.w3schools.com/html5/tag_audio.asp">&lt;audio&gt;</a> element introduced in
		<a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/">HTML5</a>
		specification.  Further, it requires that the
		browser support the <a href="https://ccrma.stanford.edu/courses/422/projects/WaveFormat/">WAV</a> format for audio data.
		<span class="by_the_way">
		    (See the
		    <a href="#tech">technical details</a> section about
		    what these things actually mean.)
		</span>
	    </p>
	    <p>
		Obviously you will need to enable JavaScript in your
		browser.  If you don't know what this means, don't worry -
		it will almost certainly be
		enabled by default.
	    </p>
	    <p>
		The table below only lists browser/operating system
		configurations which I have personally tested, and
		is by no means a definitive or authoritative list.
	    </p>
	    <table>
		<tr>
		    <th>Browser</th>
		    <th>Version</th>
		    <th>Operating System</th>
		    <th>Does it work?</th>
		    <th>Additional notes</th>
		</tr>
		<tr class="its_broken">
		    <td>
			<a href="http://caminobrowser.org">Camino</a>
		    </td>
		    <td>2.0.4</td>
		    <td>Mac OSX</td>
		    <td>No</td>
		    <td>
			Not sure what the precise problem is; I'm assuming that it's
			down to the fact that this is derived from a fairly old version
			of Firefox?  (3.0.19)
		    </td>
		</tr>
		<tr class="its_broken">
		    <td>
			<a href="http://www.google.com/chrome">Chromium</a>,
			<a href="http://www.chromium.org">Chromium</a>,
			<a href="http://www.srware.net/en/software_srware_iron.php">Iron</a>
		    </td>
		    <td>Any</td>
		    <td>Windows, Mac OSX, Linux</td>
		    <td>No</td>
		    <td>
			Chrome does not support the WAV audio format, apparently because
			they don't want to encourage uncompressed formats.  Somehow I doubt
			you could generate MP3s, OGGs etc in &lt;1k of JavaScript ;-) See
			<a href="http://code.google.com/p/chromium/issues/detail?id=23916">23916</a>
			and
			<a href="http://code.google.com/p/chromium/issues/detail?id=42687">42687</a>
			on their issue tracker for more information.
		    </td>
		</tr>
		<tr class="it_works">
		    <td><a href="http://www.mozilla.com/firefox">Firefox</a></td>
		    <td>3.6.8</td>
		    <td>Mac OSX, Windows, Linux</td>
		    <td>Yes</td>
		    <td />
		</tr>
		<tr class="it_works">
		    <td><a href="http://ftp.mozilla.org/pub/mozilla.org/firefox/nightly/latest-trunk/">Minefield (Firefox beta)</a></td>
		    <td>4.0b5</td>
		    <td>Windows</td>
		    <td>Yes</td>
		    <td>I would imagine it works on Mac OSX and Linux as well, but
			I haven't tested that combination</d>
		</tr>
		<tr class="its_broken">
		    <td><a href="http://ie.microsoft.com/testdrive/">Internet Explorer</a></td>
		    <td>IE9 Platform Preview</td>
		    <td>Windows 7</td>
		    <td>No</td>
		    <td>
			Doesn't support WAV audio, so ultimately it won't work - but it doesn't even seem to get
			far enough to even be able to try to play audio files
		    </td>
		</tr>
		<tr class="its_broken">
		    <td>Internet Explorer</td>
		    <td>8 or earlier</td>
		    <td>Windows</td>
		    <td>No</td>
		    <td>Don't even think about it :-)</td>
		</tr>
		<tr class="it_works">
		    <td><a href="http://www.opera.com">Opera</a></td>
		    <td>10.61</td>
		    <td>Windows</td>
		    <td>Yes</td>
		    <td>I would imagine it works on Mac OSX and Linux as well, but
			I haven't tested that combination</d>
		</tr>
		<tr class="it_works">
		    <td><a href="http://www.apple.com/safari">Safari</a></td>
		    <td>5.0.1</td>
		    <td>Windows, Mac OSX</td>
		    <td>Yes*</td>
		    <td>Safari requires QuickTime to be installed for
			audio (or video) playback.  This should be
			the default on Mac OSX, but you might have to
			install QuickTime on Windows, as it isn't
			included in the Safari installer.
			<br />
			Compared to other
			browsers, Safari is noticeably
			slower to start, and more laggy in responding
			to keyboard presses.
		    </td>
		</tr>
		<tr class="its_broken">
		    <td>Mobile Safari</td>
		    <td></td>
		    <td>iOS (iPhone, iPod Touch, iPad)</td>
		    <td>No</td>
		    <td>
			Lack of a physical keyboard is a fundamental obstacle.
			I do have some aborted code that should work with a
			touchscreen, but it won't be able to fit into 1k along
			with the existing keyboard-oriented code.  If the WAV/data URI
			code works on Mobile Safari, then I'll post
			the code up here when I get the chance.
		    </td>
		</tr>
	    </table>
	    <p>
		Given the fact that this app doesn't work in Chrome-like browsers,
		it's unlikely to get very far
		in the <a href="http://js1k.com/rules">JS1k judging</a>.
	    </p>
	</div>

	<div id="tech">
	    <h2>Technical details</h2>
	    <p>To be properly written up...</p>
	    <h3 id="data_uris">Data URIs</h3>
	    <h3 id="audio">Generating audio data in JavaScript</h3>
	    <h3 id="compiling">Compiling down to under 1k in size</h3>
	    <h3 id="issues">Browser issues</h3>
	    <h4 id="firefox_issues">Firefox</h4>
	    <ul>
		<li>Spaces in data URIs</li>
		<li>Sample rates in 3.6.8 on Windows</li>
	    </ul>
	    <h4 id="opera_issues">Opera</h4>
	    <ul>
		<li>Crash when trying to do 'new Audio()' with large data URIs</li>
	    </ul>
	    <h4 id="safari_issues">Safari</h4>
	    <ul>
		<li>Clearing the canvas</li>
		<li>Slowness</li>
	    </ul>
	    <h4 id="chrome_issues">Chrome</h4>
	    <ul>
		<li>Clearing the canvas</li>
		<li>Lack of support for WAV</li>
	    </ul>
	</div>

	<div id="links">
	    <h2>Links</h2>
	    <h3>Other HTML5 piano/instrument apps</h3>
	    <p>
		These use external samples, so sound a hell of a lot
		better than my plain sine waves.
	    </p>
	    <ul>
		<li>
		    <a href="http://www.azoffdesign.com/piano">Azoff Design HTML5 piano</a>
		</li>
		<li>
		    <a href="http://evilbrainjono.net/music/">Jono Bacon keyboard</a>
		</li>
	    </ul>

	    <p>More to add....</p>
	</div>

	<div id="contact">
	    <h2>Contact</h2>
	    <ul>
		<li>My dead-on-arrival <a href="http://twitter.com/JohnMMIX">Twitter</a></li>
		<li>My <a href="http://www.menboku.co.uk">company site</a> that could certainly do with more
		    than the 20 minutes of work it's had so far...</li>
		<li><a href="http://uk.linkedin.com/pub/john-smith/14/377/6a7">LinkedIn</a></li>
	    </ul>
	</div>

    </body>
</html>
